@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Varela+Round&family=Yantramanav&display=swap');
#logo {
    width: 80px;
}

p, h5 {
    font-family: Yantramanav;
}

.card-title {
    font-family: raleway;
    color: rgb(216, 216, 216);
}

.btn-primary {
    background-color: #F5822E;
    color: #FAFFFF;
    border-radius: 18px;
    margin-bottom: 0;
    border: #F5822E solid 1px !important;
}

.btn-primary:hover {
    background-color: #FAFFFF;
    color: #F5822E;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-img {
    width: 100%;
    object-fit: cover;
}

.img-card-landing {
    height: 70vh !important;
    width: 40vw !important;
}

.card {
    height: 280px;
    width: 240px;
}

.help {
    border: 3px solid red;
}

.no-margin {
    margin: 0px;
}

.devweb-img-background {
    background-color: #D4F7E5;
}

.managercom-img-background {
    background-color: #96D8EE;
}

.card-title-background {
    background-color: rgba(0, 0, 0, 0.438);
    position: absolute !important;
    bottom: 0 !important;
}

.cardlanding-title-background {
    background-color: rgba(0, 0, 0, 0.438);
    height: 10vh;
}

.text-introduction {
    color: #F5822E;
}

.title-image-background {
    background-color: rgba(0, 0, 0, 0.438);
    height: 8vh;
}

.card-img-articles {
    margin-top: 8vh;
    height: 50vh;
    width: 80vh;
    margin-bottom: 15px;
}



@media screen and (max-width: 600px) {
    .card {
        height: 240px;
        width: 160px;
    }
    .nav-item {
        text-align: center !important;
    }

    .landing-img {
        width: 60vw;
        height: 40vh;
    }

    .title-image-background {
        background-color: rgba(0, 0, 0, 0.438);
        height: 72px;
    }
}

.position-relative {
    position: relative !important;
}

.home__container-card img {
    height: 480px;
    object-fit: cover;
    object-position: center;
}

.home__container-card {
    position: relative;
    margin: 0 auto;
    /* Center it */
}

a {
    text-decoration: none;
    color: #FAFFFF;
}

a:hover {
    color: #F5822E;
}


.home__container-card .home__container-card--content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(83, 83, 83, 0.562);
    /* Black background with 0.5 opacity */
    color: #c4c4c4;
    /* Grey text */
    padding: 20px;
    /* Some padding */
    font-size: 2rem;
}