header, main {
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 4vh;
}

/************** HEADER **************/

#navbarCollapse {
    margin-left: 2.5rem;
}

#title {
    position: absolute;
    margin-top: 2rem;
    margin-left: 0.5rem;
}

.nav-link {
    color: black !important;
    font-family: "Varela round", sans-serif;
    border-radius: 10px;
}

.nav-link:hover {
    color: white !important;
    background-color: #f5822e;
}
.current {
    
    color: white;
    background-color: #f5822e;
    border-radius: 10px;
    padding: .5rem 1rem;
}
/************** FOOTER **************/

.footer-bg {
    margin: 0;
    background-color: #f5822e !important;
}